### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
heroes_csv = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(heroes_csv)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Calculate the number of unique SN in the DataFrame. Fucntion "Unique" will help us to avoid duplicate the Players.
totalplayers_unique = len(purchase_data_df["SN"].unique())

# Creating a Data Frame to save the result from the last iteration. Remember {key:value} 
summary_df = pd.DataFrame({"Total Players": [totalplayers_unique]})
summary_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calculate the number of items using value counts to avoid duplicate same Items.
items_value = len(purchase_data_df["Item ID"].value_counts())

# Calculate the prie average using the function mean.
price_avg = purchase_data_df["Price"].mean()

# Calculate the total number of purchases using count (goes and ad line by line).
items_count = purchase_data_df["SN"].count()

# Total Revenue = total price using sum function
total_price = purchase_data_df["Price"].sum()

# Create a Data Frame to show the results. Remember {key:value} 
summary2_df = pd.DataFrame({"Number of Unique Items" : [items_value],
                            "Average Price" : [price_avg],
                            "Number of Purchases" : [items_count],
                            "Total Revenue" : [total_price]                         
                           })

# Once we calculate the result, we cast/format the results.
summary2_df["Average Price"] = summary2_df["Average Price"].astype(float).map("${:,.2f}".format)
summary2_df["Total Revenue"] = summary2_df["Total Revenue"].astype(float).map("${:,.2f}".format)
summary2_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Took from the last excersice and use it in this.
totalplayers_unique = len(purchase_data_df["SN"].unique())

# Declare a new grouping for gender. I use the groupby function.
gender_groups = purchase_data_df.groupby(["Gender"])

# Declare a variable and save as a Data Frame using the groupby. 
gender_result_df = pd.DataFrame(gender_groups.agg({"SN" : pd.Series.nunique}))

# Reset the index to delete the numbers in column x.
gender_result_df = gender_result_df.reset_index()

# Rename the first column.
gender_result_df = gender_result_df.rename(columns={"SN":"Total Count"})

# Calculate the Percentage of Players. As new column in the dataframe must be added at the beggining of the formula.
gender_result_df ["Percentage of Players"] = gender_result_df["Total Count"]/totalplayers_unique
gender_result_df ["Percentage of Players"] = gender_result_df["Percentage of Players"].map("{:,.2%}".format)

# Set the Gender as new index of the table.
gender_result_df.set_index("Gender", inplace = True)

# Sort the information taking the Total Column as descending form (greater to minimum)
gender_result_df = gender_result_df.sort_values("Total Count", ascending=False)

gender_result_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
# Work with each formula asked and set a variable for each one.
purchase_count = gender_groups["Purchase ID"].count()   # Count of Pruchase ID
purchase_price = gender_groups["Price"].mean()          # Average of Price
purchase_total = gender_groups["Price"].sum()           # Total Sum of Prices

# Generates values without duplicates (NUNIQUE Formula)
purchase_single = gender_groups["SN"].nunique()         # Counts the unique values without duplicate it
purchase_avg = purchase_total/purchase_single           # Calculate the average / unique values (SN)

# Create a data frame for the results / Rename the columns / Format the columns
purchase_result = pd.DataFrame({"Purchase Count":purchase_count,
                                "Average Purchase Pric":purchase_price.astype(float).map("${:,.2f}".format),
                                "Total Purchase Value" :purchase_total.astype(float).map("${:,.2f}".format),
                                "Avg Total Purchase per Person": purchase_avg.astype(float).map("${:,.2f}".format)
                               })                     

purchase_result

,Purchase Count,Average Purchase Pric,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [17]:
# Create bins in which to place values based on ages.
max_age = purchase_data_df["Age"].max()
bins = [0, 9, 14, 19, 24, 29, 34, 39, max_age]

# Create labels for these bins
group_labels = ["<10", "10-14", "15-19", "20-24","25-29","30-34", "35-39","40+" ]

# Slice the data and place it into bins
pd.cut(purchase_data_df["Age"], bins, labels=group_labels)

# Create a variable to save the Age Labels as bins.
purchase_data_df["Age Category"] = pd.cut(purchase_data_df["Age"], bins, labels=group_labels)

# Calculate the age count & percentage. Remembert to use NUNIQUE Formula to avoid duplicates.
demographic_age_count = purchase_data_df.groupby(["Age Category"]).nunique()["SN"]    #Adding Age Category as new column
demographic_percentage = demographic_age_count / purchase_data_df["SN"].nunique()     #Calcualae the percante

# Create a data frame for the results / Rename the columns / Format the columns
demographic_age = pd.DataFrame({"Total Count":demographic_age_count, "Percent of Players": demographic_percentage.map("{:,.2%}".format)})
demographic_age = demographic_age.sort_index()
demographic_age

              Total Count Percent of Players
Age Category
<10                    17              2.95%
10-14                  22              3.82%
15-19                 107             18.58%
20-24                 258             44.79%
25-29                  77             13.37%
30-34                  52              9.03%
35-39                  31              5.38%
40+                    12              2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame